* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.exploreFollowStyle {
  height: 30vh;
  width: 18vw;
  background: rgb(248, 248, 248);
  margin-top: 1em;
  padding: 1em;
  border-radius: 1em;
  margin-left: 2em;
}
